.image-box {
  width: 250px;
  height: 250px;
  background-color: grey;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  margin: 3px;
}

.image-text {
  text-align: center;
  color: white;
  font-weight: bold;
  justify-content: end;
}